
/*-----------------------------------------------
*   Cell
-----------------------------------------------*/

.cell {
  margin: 0 auto;
  max-width: 900px;
}

/*-----------------------------------------------
*   Header
-----------------------------------------------*/

.header {
  background-color: #2d3142;
  margin-bottom: 10px;
  padding: 10px;
  padding-top: 10px;
}

/*-----------------------------------------------
*   Logo
-----------------------------------------------*/

.logo {
  color: #fff;
  margin-bottom: 0;
}

/*------------------------------------------------
* Select
-----------------------------------------------*/
.selectBtn{
  height: 34px;
}

body {
    padding-top: 120px;
  }
